mode: deployment
replicaCount: 1

config: |
  receivers:
    otlp:
      protocols:
        grpc:
        http:
    prometheus:
      config:
        scrape_configs:
          - job_name: "otel-collector"
            static_configs:
              - targets: ["0.0.0.0:8888"]
  processors:
    batch: {}
    tail_sampling:
      decision_wait: 10s
      num_traces: 1000
      policies:
        - name: error_sample
          type: status_code
          status_code: ERROR
        - name: high_latency
          type: latency
          latency_threshold: 500ms
        - name: always
          type: always_sample
  exporters:
    alloy:
      endpoint: "<ALLOY_ENDPOINT>"
      api_key: "<ALLOY_API_KEY>"
    tempo:
      endpoint: "tempo.tracing.svc.cluster.local:4317"
    prometheus:
      endpoint: "0.0.0.0:8888"
  service:
    pipelines:
      traces:
        receivers: [otlp]
        processors: [batch, tail_sampling]
        exporters: [alloy, tempo]
      metrics:
        receivers: [prometheus]
        exporters: [prometheus]

service:
  ports:
    otlp: 4317
    health_check: 13133  # optional
    metrics: 8888

resources: {}
